@model IEnumerable<EcoFoods.DomainEntities.Product> 

@if (Model.Count() > 0)
{
    <h1> Here you can view all the available products:</h1> <br />
    <table class="table table-bordered table striped" style="width:100%">
        <thread>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Available Quantity</th>
                <th scope="col">Add to cart</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td width:"30%">@item.Name</td>
                <td width:"30%">@item.Description</td>
                <td width:"30%">@item.Price $/Kg</td>
                <td width:"30%">@item.Quantity Kg</td>
                <td width:"100%">
                    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="AddToCart" data-url="@Url.Action("ShoppingCart")">Add</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else 
{ 
    <p>There are no avalable products at the moment.</p>
}







